<div class="home-banner" data-stretch="<%= image_url "clouds.jpeg" %>">
	<nav class="site-nav">
		
	</nav>
	<%= render :partial => "chatrooms/chatroom" %> 
</div>

<script>
  	$('.home-banner').anystretch();
</script>