body {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cloudchat-layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}

.menu-region {
  height: 100%;
  width: 260px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  background-color: rgba(39, 174, 96, 0.9);
}
.menu-region:hover {
  background-color: #27ae60;
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 100%;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.menu * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu-profile {
  width: 92%;
  margin: 10px auto 0 auto;
  cursor: pointer;
  max-height: 55px;
  overflow: hidden;
  -webkit-transition: max-height 200ms;
  transition: max-height 200ms;
  border-radius: 4px;
}
.menu-profile:hover {
  background: rgba(255, 255, 255, 0.3);
}
.menu-profile ul {
  padding: 0;
  margin: 0;
  list-style: disc;
}

.menu-profile-expanded {
  background: rgba(255, 255, 255, 0.3);
  max-height: 200px;
  -webkit-transition: max-height 400ms;
  transition: max-height 400ms;
}

.menu-profile-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0.3em;
}

.menu-profile-avatar {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 38px;
  width: 38px;
}
.menu-profile-avatar span {
  background-image: url("../assets/andy.png");
  background-size: cover;
  display: inline-block;
}

.avatar-s {
  width: 38px;
  height: 38px;
  border-radius: 4px;
}

.menu-profile-name {
  margin: 2px auto;
  overflow: hidden;
  white-space: nowrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0.3em 0 0.3em 0.6em;
  font-size: 1.125em;
}

.menu-profile-state {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 0.6em 0.3em;
}

.menu-profile-list {
  margin: 0;
  overflow: hidden;
  width: 100%;
  margin: 10px 0;
  line-height: 24px;
}
.menu-profile-list li {
  padding-left: 15px;
  text-decoration: none;
  width: 100%;
}
.menu-profile-list li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.menu-profile-list li span {
  font-size: 0.95em;
  padding-left: 10px;
}

.menu-list {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.menu-list-content {
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 94%;
  margin: 10px 0 10px auto;
  border-radius: 4px;
}
.menu-list-content p {
  text-transform: uppercase;
  opacity: .6;
  overflow: hidden;
  clear: both;
}
.menu-list-content ul {
  padding: 0;
  margin: 0;
  list-style: disc;
}
.menu-list-content ul li {
  padding: 5px 0 3px 5px;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.menu-list-content ul li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.menu-list-content ul li span {
  padding-left: 15px;
}

.menu-action {
  width: 88%;
  margin: 10px auto;
}
.menu-action a {
  color: #333;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid #ccc;
  border-radius: 2px;
  padding: 11px 12px;
  text-align: center;
  border: none;
  vertical-align: top;
  cursor: pointer;
}
.menu-action a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 4px solid #ccc;
  border-left: 2px solid #ccc;
}

.chat-region {
  height: 100%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 3;
  -webkit-flex-grow: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  background-color: #fff;
}

.tool-region {
  height: 100%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: #ecf0f1;
}

/*# sourceMappingURL=widgets.css.map */
