$menu-avatar-size: 38px;
$header-avatar-size :48px;

body{
	min-height: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #fff;
	font-weight: 400;
	line-height: 1.45;
	color: #333;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.cloudchat-layout{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	height: 100%;
	width: 100%;
}

// Menu Part

.menu-region{
	height: 100%;
	width: 260px;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	background-color: rgba(52, 152, 219, .9);
	&:hover{
		background-color: rgba(52, 152, 219, .9);
	}
}

.menu{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	z-index: 1000;
	width: 100%;
	height: 100%;
	color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	* {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}

.menu-profile{
	width: 92%;
	margin: 10px auto 0 auto;
	cursor: pointer;
	max-height: 50px;
	overflow: hidden;
	-webkit-transition: max-height 200ms;
	transition: max-height 200ms;
	border-radius: 4px;
	&:hover{
		background: rgba(255,255,255,.3);
	}
	ul{
		padding: 0;
		margin: 0;
		list-style: disc;
	}
}

.menu-profile-expanded{
	background: rgba(255,255,255,.3);
	max-height: 200px;
	-webkit-transition: max-height 400ms;
	transition: max-height 400ms;
}

.menu-profile-wrapper{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 0.3em;
}

.menu-profile-avatar{
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	height: $menu-avatar-size;
	width: $menu-avatar-size;
	span{
		background-image: url('../assets/andy.png');
		background-size: cover;
		display: inline-block;
	}
}

.avatar-s{
	width: $menu-avatar-size;
	height: $menu-avatar-size;
	border-radius: 4px;
}

.menu-profile-name{
	margin: 2px auto;
	overflow: hidden;
	white-space: nowrap;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 0.3em 0 0.3em 0.6em;
	font-size: 1.125em;
}

.menu-profile-state{
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	padding: 0.6em 0.3em;
}

.menu-profile-list{
	margin: 0;
	overflow: hidden;
	width: 100%;
	margin: 10px 0;
	line-height: 24px;
	li{
		padding-left: 15px;
		text-decoration: none;
		width: 100%;
		&:hover{
			background-color: rgba(255,255,255,0.5);
		}
		span{
			font-size: 0.95em;
			padding-left: 10px;
		}
	}
}

.menu-list{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.menu-list-content{
	overflow: scroll;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 94%;
	margin: 10px 0 10px auto;
	border-radius: 4px;
	p{
		text-transform: uppercase;
		opacity: .6;
		overflow: hidden;
		clear: both;
	}
	ul{
		padding: 0;
		margin: 0;
		list-style: disc;
		li{
			padding: 5px 0 3px 5px;
			cursor: pointer;
			text-decoration: none;
			width: 100%;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
			&:hover{
				background-color: rgba(255,255,255,0.5);
			}
			span{
				padding-left: 15px;
			}
		}
	}
}

.menu-list-current-room{
	background-color: #fff;
	color: rgba(52, 152, 219, .9);
}

.menu-action{
	width: 88%;
	margin: 10px auto;
	a{
		color: #333;
		width: 100%;
		text-decoration: none;
		display: inline-block;
		background-color: rgba(255,255,255,.7);
		border-bottom: 2px solid #ccc;
		border-radius: 2px;
		padding: 11px 12px;
		text-align: center;
		border: none;
		vertical-align: top;
		cursor: pointer;
		&:hover{
			background-color: rgba(255,255,255,.9);
			border-bottom: 4px solid #ccc;
			border-left: 2px solid #ccc;
		}
	}
}

// Chat Part

.chat-region{
	max-width: 750px;
	height: 100%;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-flex: 3;
	-webkit-flex-grow: 3;
	-ms-flex-positive: 3;
	flex-grow: 3;
	background-color: #fff;
}

.chat-app{
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.chat-app-header{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 100;
	width: 100%;
	min-height: 77px;
	padding: 15px 30px;
	background-color: rgba(255,255,255,.9);
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.chat-header-avatar{
	height: $header-avatar-size;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	position: relative;
	float: left;
	img{
		width: $header-avatar-size;
		height: $header-avatar-size;
		border-radius: 4px;
	}
}

.chat-header-actions{
	position: relative;
	float: right;
}

.chat-header-action-setting{
	display: inline-block;
	padding-top: 10px;
	color: rgba(0,0,0,.6);
	&:hover{
		cursor: pointer;
		color: #000;
	}
}

.chat-header-content{
	overflow: hidden;
	width: auto;
	height: 47px;
	margin: 0 40px 0 70px;
	h2{
		margin: 10px 0 0 0;
		font-weight: 400;
		color: rgba(0,0,0,.6);
	}
}

.chat-app-content-panel{
	position: relative;
	background-color: #fff;
	width: 100%;
	height: 100%;
	-webkit-flex-shrink: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1;
}

.chat-app-input{
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 100;
	background-color: #fff;
	min-height: 70px;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	border-top: 1px solid rgba(0,0,0,.1);
}

.chat-app-input-wrapper{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 10px;
	display: block;
	text-align: center;
}

.chat-app-input-box{
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	width: 90%;
	padding: 0 10px 4px 40px;
	textarea{
		display: block;
		width: 100%;
		outline: none;
		padding: 0;
		border: 0;
		margin: 0;
		resize: none;
		height: 44px;
		font-size: 16px;
		line-height: 20px;
	}
}

// Tool Part

.tool-region{
	height: 100%;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	background-color: #ecf0f1;
}

