<footer id="footer">
  <p>Created and maintained by <a href="https://github.com/FreemanHsu">Andy Hsu</a> and <a href="https://github.com/DeanChensj">Dean Chen</a> .</p>
  <p>Welcome to fork the project.</p>
</footer>