// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-banner {
	.site-nav{
		position: relative;
		left: 0;
		right: 0;
		top: 0;
		z-index: 9999;
		padding-top: 60px;
	}
  	.banner-inner {
  		margin: 0 auto;
    	height: 800px;
    	position: relative;
  	}
}