// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pic{
	img{
			width: 100px;
			height: 100px;
			border: 4px;
			padding: 4px;
		}
}