/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
main {
	padding-top: 20px;
	font-family: 'Open Sans', Lato, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	background: #edece4;
}

#global-footer {
	padding: 40px 20px;
	color: #a6a6a6;
	font-size: 0.8em;
	text-align: center;
	background: #18191b;
	border-bottom: #0a0a0a 5px solid;
}