<div class="bs-header">
  <div class="container">
    <h1> 聊天中 </h1>
  </div>
</div>
<div class="container">
  <div class="content">
    
  </div>
  <div class="direct_to">
    <td><%= link_to '回到外婆桥', :back %></td>
  </div>
</div>